$primary: #50E3C2;
$secondary: #D2F9F1;
$tertiary: #FAFFFE;
$quaternary: #0C5F4C;
$quinary: #063974;
$senary: #2C2C2C; 
$mainFont: 'Lato', sans-serif;
$subFont: 'Playfair Display SC', serif;
header h2 {
    font-family: $subFont;
    font-style: italic;
    font-size: 34.6px;
    color: $primary;
}
header a {
    font-family: $mainFont;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: $tertiary;
}
header a:hover {
    color: $primary;
    width: 100%;
}
h1 {
    font-family: $mainFont;
    font-weight: bold;
    font-size: 87px;
    color: $quaternary;
    span {
        font-family: $subFont;
        font-style: italic;
        font-size: 111.2px;
        color: $quinary;
    }
}
p {
    font-family: $mainFont;
    font-weight: normal;
    font-size: 20PX;
    color: $senary;
    line-height: 32px;
}
h3 {
    font-family: $mainFont;
    font-size: 20px;
    font-weight: bold;
    font-size: 35px;
    color: $quaternary;
}

h4 {
    font-family: $mainFont;
    font-weight: bold;
    font-size: 30px;
    line-height: 58px;
    letter-spacing: 3.2px;
    color: $quaternary;
}


h5 {
    font-family: $mainFont;
    font-weight: bold;
    font-size: 35px;
    color: $quinary;
}

a {
    font-family:  $subFont;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: $tertiary;
    font-size: 20px;
}