@import "setup";

/*================
TYPOGRAPHY

font-family: 'Lato', sans-serif;

font-family: 'Playfair Display SC', serif;

=================*/
h2 {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-size: 34.6px;
    color: #50e3c2;
}




.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}
header {
    background-image: url(../assets/home-image-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 85vh;
}
.headTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        flex: 1 0 auto;
    }
    ul {
        list-style: none;
        display: flex;
        li {
            margin: 0 22px;
        }
    }
}
img {
    width: 625px;
    height: auto;
}

