@import "setup";

/*================
TYPOGRAPHY

font-family: 'Lato', sans-serif;

font-family: 'Playfair Display SC', serif;

=================*/
header h2 {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-size: 34.6px;
    color: #50e3c2;
}
header a {
    font-family: 'Lato', sans-serif;
    font-style: bold;
    font-size: 20px;
    color: #fafffe;
}
header a:hover {
    color: #50e3c2;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-style: bold;
    font-size: 87px;
    color: #0c5f4c;
    span {
        font-family: 'Playfair Display SC', serif;
        font-style: italic;
        font-size: 111.2px;
        color: #063974;
    }
}


/*================
STYLING
=================*/

.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}
header {
    background-image: url(../assets/home-image-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75%;
}
.headTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        flex: 1 0 auto;
    }
    ul {
        list-style: none;
        display: flex;
        li {
            margin: 0 22px;
            a {
                text-decoration: none;
            }
        }
    }
}
.headMid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    h1 {
        position: absolute;
        top: 75px;
        span {
            display: block;
        }
    }
}
header img {
    width: 715px;
    height: auto;
}

