html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*================
TYPOGRAPHY

font-family: 'Lato', sans-serif;

font-family: 'Playfair Display SC', serif;

=================*/
header h2 {
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-size: 34.6px;
  color: #50e3c2;
}

header a {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fafffe;
}

header a:hover {
  color: #50e3c2;
  width: 100%;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 87px;
  color: #0c5f4c;
}
h1 span {
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-size: 111.2px;
  color: #063974;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 20PX;
  color: #2c2c2c;
  line-height: 32px;
}

.visit {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
.visit h3 {
  font-weight: bold;
  font-size: 35px;
  color: #0c5f4c;
}
.visit a {
  font-family: "Playfair Display SC", serif;
}

.links {
  font-family: "Lato", sans-serif;
}
.links h4 {
  font-weight: bold;
  font-size: 30px;
  line-height: 58px;
  letter-spacing: 3.2px;
  color: #0c5f4c;
}

.locations {
  font-family: "Lato", sans-serif;
}
.locations h5 {
  font-weight: bold;
  font-size: 35px;
  color: #063974;
}
.locations a {
  font-family: "Playfair Display SC", serif;
  font-size: 20px;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  color: #FAFFFE;
}

/*================
STYLING
=================*/
.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-image: url(../assets/home-image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}

.headTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headTop h2 {
  flex: 1 0 auto;
}
.headTop ul {
  list-style: none;
  display: flex;
  flex: 1 0 auto;
}
.headTop ul li {
  margin: 0 22px;
}
.headTop ul li a {
  text-decoration: none;
}

.headMid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 11rem;
}
.headMid h1 {
  z-index: 1;
}
.headMid h1 span {
  display: block;
}

.glasses {
  position: relative;
  z-index: 0;
}
.glasses img {
  width: 715px;
  height: auto;
  position: absolute;
  top: -360px;
}

.visit {
  padding: 10% 0;
  background: #fafffe;
}
.visit .wrapper {
  display: flex;
  align-items: center;
}
.visit .wrapper div:first-child {
  line-height: 32px;
  letter-spacing: 2px;
}
.visit .wrapper div:first-child p {
  padding: 0 8rem 2rem 0;
}
.visit .wrapper div:first-child a {
  text-decoration: none;
  color: #fafffe;
  background-color: #063974;
  padding: 20px;
}
.visit .wrapper div:nth-child(2) {
  flex: 1 0 auto;
}
.visit .wrapper div:nth-child(2) img {
  box-shadow: -30px 30px #50e3c2;
  width: 350px;
  height: auto;
}

.gallery {
  background: #d2f9f1;
}
.gallery .wrapper {
  width: 100%;
}
.gallery .wrapper ul {
  display: flex;
  list-style: none;
  padding: 72px 0;
  justify-content: space-between;
  margin: 0;
}
.gallery .wrapper ul img {
  width: 380px;
  height: auto;
}

.links {
  background: #FAFFFE;
  margin: 80px 0;
}
.links .wrapper {
  display: flex;
  flex-wrap: wrap;
}
.links .wrapper .oneLink {
  width: 50%;
  display: flex;
}
.links .wrapper .oneLink div {
  margin-left: 25px;
}
.links .wrapper .oneLink h4 {
  margin: 0;
  text-align: start;
  justify-self: end;
}
.links .wrapper .oneLink i {
  color: #FAFFFE;
  font-size: 30px;
  background: #50e3c2;
  padding: 14px;
  height: 60px;
  border-radius: 50%;
}
.links .wrapper .oneLink .fa-file {
  padding: 19px;
  font-size: 27px;
}

.locations {
  background: #d2f9f1;
}
.locations .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 33%;
}
.locations .wrapper div img {
  width: 560px;
  height: auto;
}
.locations .wrapper h5 {
  margin: 0;
}
.locations .wrapper p {
  width: 560px;
}

.locationWords1, .locationWords2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 345px;
}
.locationWords1 a, .locationWords2 a {
  display: inline-flexbox;
  padding: 18px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #063974;
}

.locationWords1, .locationPic2 {
  margin-left: 90px;
  margin-top: 50px;
}

.locationWords2 {
  align-items: flex-end;
  margin-right: 90px;
  margin-bottom: 32px;
}
.locationWords2 p {
  text-align: right;
}

.locationPic1, .locationPic2 {
  position: relative;
}
.locationPic1 img, .locationPic2 img {
  position: absolute;
}

.locationPic1 img {
  box-shadow: 26px 26px #50e3c2;
  top: -36px;
}

.locationPic2 img {
  box-shadow: -26px 26px #50e3c2;
}

.banner {
  width: 100%;
  grid-column-start: span 2;
}/*# sourceMappingURL=style.css.map */